
/* เรียงลำดับ tag ตามโค้ดของมันด้วย */

form.login-form {
  border: 3px solid #f1f1f1;
}

form.login-form div.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

form.login-form div.imgcontainer img.avatar-login{
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

form.login-form div.container-login {
  padding: 16px;
  width: 100%;
}

form.login-form div.container-login div.login-password{
    width: 100%;
    margin-left: 100px;
}

form.login-form div.container-login button.btn-submit-login {
  margin-left: 25%;
  width: 50%;
  padding: 10px 18px;
  background-color: rgba(0,183,74,255);
}

form.login-form div.container-login button.btn-submit-login:hover {
  opacity: 0.8;
}

form.login-form  div.container-button button.cancelbtn-login{
    margin-left: 25%;
    width: 50%;
    padding: 10px 18px;
    background-color: rgba(249,49,84,255);
}

form.login-form  div.container-button span.password-login{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}