
/* เรียงลำดับ tag ตามโค้ดของมันด้วย */

nav.navbar {
    background-color: #1c1854;
}

nav.navbar a {
    color: rgb(255, 255, 255);
}

nav.navbar a:hover {
    color: rgb(10, 139, 220);
}

nav.navbar img.website-logo-image{
    margin-left: 20px;
}

nav.navbar a.navbar-brand{
    margin-left: 10px;
    margin-right: 20px;
}

nav.navbar div.collapse li.nav-item {
    margin-left: 10px;
}

nav.navbar div.collapse li.nav-item a.nav-link {
    font-size: 17px;
}

nav.navbar div.collapse div.dropdown{
    margin-left: 25%;
    margin-right: 0%;
}

nav.navbar div.collapse div.dropdown button.btn img.profile-image{
    height: 40px;
    width: 40px;
    border-radius: 10px;
}





