

/* เรียงลำดับ tag ตามโค้ดของมันด้วย */
nav#user-navbar {
    background-color: #ffffff ;
    width: 100%;
    height: 8vh;
    box-shadow: rgba(33, 35, 38, 0.2) 0px 0px 1px 1px;
}

.navbar-toggle-text{
    color: rgba(255,255,255,255) ;
}

#user-navbar-dropdownMenuButton{
    background-color: none;
    border: none;
}

#user-navbar-dropdownMenuButton{
    background-color: rgba(255,255,255,255) ;
}

#user-dropdown{
    background: rgba(248,249,250,255) ;
}

img#user-profile-image{
    border-radius: 999px;
}

input#user-topnav-search{
    background-color: #f5f4f4;
    width: 40vw;
    height: 5vh;
    margin: auto;
    border-radius: 999px;
    padding-left: 2vh;
    border: none;
    outline-color:#5448c8;
}

li#user-topnav-item{
    margin-left: 1rem;
}
