

  h2.title-post-page {
    text-align: center;
  }

  .allPost{
    background: rgb(241, 244, 248);
  }

  .post {
    padding: 5px;
    margin: 30px auto;
    margin-bottom:10px;
    margin-top: 40px;
    width: 50%;
    background: rgb(255, 255, 255);
    border-radius: 9px;
    box-shadow: 0 0 7px rgb(196, 195, 195);
    
  }
  
  span.poster {
    font-size: 12px;
  }

  span.commenter {
    font-size: 12px;
  }

  .dtail-commenter {
    margin: auto;
    width: 55%;
  }

  .dtail-poster {
    margin: auto;
    /*text-align: 120px;*/
    width: 65%;
  }

  .post-detail {
   /* background: rgb(247, 154, 185);
    border: 2px solid rgb(238, 12, 80);*/
    
    padding: 5px;
    margin-left: 15% ;
    margin-bottom: 2px;
    width: 70%;
  }

  .edit-post-detail{
    margin-top: 10px ;
  }

  .input-edit-post{
    /*setting same/similar as post-detail class*/
    padding: 5px;
    margin-left: 15%;
    margin-bottom: 2px;
    width: 70%;
    display: block;
    overflow: hidden;
    resize: none;
  }

#btnOk-Edit-Post{
  width: 5%;
  height: 50%;
  margin-left: 80%;
}

  .comment {
    background: rgb(217, 226, 239);
    border-radius: 9px;
    padding: 5px;
    margin: 10px auto;
    margin-left: 20%;
    margin-bottom: 0px;
    margin-top: 20px;
    width: 50%;
    position: relative;
  }

  .post-page{
    background: rgb(241, 244, 248);
  }

  .allPost {
    margin-top: 70px;
    /*background: rgb(156, 154, 154)*/
  }

  .test {
    margin-top: 90px;
  }



  div.postForm {
    margin-top: 66px ;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }

  textarea.inputForm {
    width: 100%;
    height: 125px;
  }
  
  button.btn-inputForm {
    
    /*background: 	rgb(66, 186, 150) ;
    border: 0px solid rgb(rgb(66, 186, 150));*/
    margin-top: 8px;
  }

  

  .comment-area{
    margin-top: 10px;
    height: 30px;
    margin-left: 20%;
    width: 50%;
    font-size: 15px;
    overflow: hidden;
  }

  #btn-Comment{
    font-size:10px;
    width: 13%;
    height: 20px;
    margin-left: 20%;
    
  }

  

  .btn-del-com{
    margin-left: 100%;
    font-size: 10px;
    margin-top: 0%;
    position: absolute;
  }

 .input-Movie-Name{
   margin-left: 15%;
   margin-top: 8px;
   width: 30%;
 }

 .btn-movie-name{
  background-color: rgb(16, 224, 120);
 }